
body {
    margin: 8px;
    border-radius: 20px;
    background-color: cornsilk;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: fit-content;
    text-align: center;

}

h1 {
    font-size: 48px;
    margin: 0;
    background: linear-gradient(to right, darkblue, darkgreen, darkred, darkviolet, indigo);
    background-size: 600% 100%;
    animation: gradientAnimation 10s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    font-size: 20px;
    margin: 5px 0 10px 0;
}

.btn-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

button {
    margin: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}